.novenybutton {
    position: absolute;
    top: 31rem;
}

.novenykep {
    height: 15rem;
}

body {
    display: block !important;
}

.kereskedes {
    max-height: 50rem;
}

.kereskedeskep {
    width: 47rem;
}

.asd {
    display: none;
}

.DIV{
    margin-top: 6rem;
}
.DIV2{
    box-shadow: 10px 5px 5px #393838;
}

#easteregg{
    display: none;
    width: 60%;
    height: 45%;
}