.novenybutton{
    position: absolute;
    top: 31rem;
}
.novenykep{
    height: 15rem;
}

body{
    display: block; !important;
}
.kereskedes{
    max-height: 50rem;
}
.kereskedeskep{
    width: 47rem;
}