.ragadozocim{
    text-align: center;
    margin: 50px;
}

.halakcarusel{
    height: 50rem;
    width: 95%;
}

.halakcard{
    height: 25rem;
}

.h2{
    margin: 10px;
    text-decoration: underline;
}

.titanickep{
    float: right;
    width: 700px;
    margin: 12px;
    border: 3px black solid;
}

.titanic2{
    float: right;
    width: 700px;
    margin: 12px;
    border: 3px black solid;
}

.titanicbekezdes{
    margin: 12px;
    font-size: 150%;
}

.titanictable{
    margin: 20px;
    border: 2px black solid;
    width: 60%;
}

.titanictabletd{
    text-align: center;
}

.roncscarusel{
    height: 25rem;
    width: 95%;
}

.tabletd{
    text-align: center;
}

.elvalaszto{
    border: 3px black solid;
}

.adriatitanicja{
    margin: 15px;
    height: 10rem;
    width: 40%;
}

.barongautschkep{
    border: 3px black solid;
    height: 30rem;
    width: 31%;
    margin: 12px;
}

.titaniccarousel{
    float: right;
    width: 700px;
    margin: 12px;
    border: 3px black solid;
}

