#hatter {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 90;
  height: 90%;
  z-index: -678153678156789;
}

#idezet {
  width: 33%;

}

body{
  min-height: 100vh;  
} 

.dropdown-menu{
  background-color: transparent !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
}
.dropdown-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  /* text-align: center !important; */
}

