#hatter {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 90;
  height: 90%;
  z-index: -678153678156789;
}

.a {
  min-height: 100vh;
  background-image: url(images/agyf.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  background-position: center;
  display: block  ;
}



.dropdown-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  /* text-align: center !important; */
}

.dropdown-menu.show {
  margin-top: 7px;
  font-weight: bold;
}

#dropdown{
  font-weight: bold !important;
}

#acc{
vertical-align: middle !important;
}

#kepek{
  height: 30rem ;
}

#cim{
  text-align: center;
}

#szutyok{
 border: solid 5 blue; 
}

#v{
  vertical-align: middle !important;
}